doc/*.aux
doc/*.log
doc/*.out
doc/*.pdf
doc/*.gz
doc/*.toc
doc/*.sty

src/*.o
src/CalculiX.exe
src/CalculiX
src/CalculiX.a

test/error.*
test/abc
test/*.12d
test/*.cvg
test/*.dat
test/*.frd
test/*.out
test/*.sta
test/*.eig
test/*.equ
test/*.nam
test/*.stm
test/*.fbd
test/*.fcv
test/*.vwf
test/*.rout
test/*.rin
test/*.sti
test/*.mas
test/*.dof
test/*.str
